table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.filter-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.filter-item {
  margin-left: 10px;
}

.paginator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pageSize-selector {
  margin-left: 5px;
}
